body {
    margin: 0;
    padding: 0;
    background-color: #262626;
    justify-content: center;
    align-items: center;
    color: white;
}

.text {
    color: white;
    size: 14px;
    margin: 20px;
}

.topBar {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    color:aliceblue;
    font: oblique; 

    justify-content: center;
    align-items: center;
}

.topBar hr{
    width: 400%;
    color: white;
}

.horBar {
    width: 90%;
    color:white;
}

.mainBox {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 230px;
    width: 230px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: -2px 1px black;
}

.imageThumbnail {
    display: flex;
    height: 200px;
    width: 200px;
    background-size: 70%;
    transition: .2s;
    border-radius: 20px;
    box-shadow: -10px 10px 10px 0px rgb(24, 24, 24);
    margin: 20px;
}

.imageThumbnail a {
    border-radius: 20px;  
}

.imageThumbnail:hover {
    height: 230px;
    width: 230px;
}

.clickerGameIcon:hover {
    height: 350px;
    width: 350px;
}

.subBox {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 400px;
    justify-content: center;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}

.grid-container {
    display: grid;
    gap: 50px 100px;
    column-count: 3;

    justify-content: center;
}

.grid-item h1 {
    justify-content: center;
    align-items: center;
    padding: -100px;

    color: white;
}
